.scroll-indicator-container {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-indicator-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
}